Code - OSS/
Code/
Cursor/
Electron/
Insomnia/
Kvantum/
QtProject.conf
Thunar/
arkrc
baloofileinformationrc
baloofilerc
cava/
cfg_backups/
code-flags.conf
dconf/
discord/
dolphinrc
dunst/
ghostty/
go/
gtk-3.0/
gtk-4.0
kde.org/
kdeglobals
kiorc
ktrashrc
libreoffice/
lsd/
menus/
mimeapps.list
nemo/
neofetch/
nwg-displays/
nwg-look/
obs-studio/
obsidian/
opera/
pavucontrol.ini
pgadmin4/
pulse/
qt5ct/
qt6ct/
session/
spicetify/
spotify-flags.conf
spotify/
starship.toml
starship/
systemd/
trashrc
user-dirs.dirs
user-dirs.locale
vim/
warp-terminal/
warp/
wlogout/
wofi/
xfce4/
xsettingsd/